# Framework i serwer
Django>=4.2,<5
gunicorn>=23.0

# Baza danych
psycopg2-binary>=2.9

# Środowisko
python-dotenv>=1.0

# PDF / Word / OpenAI
openai==2.6.1
reportlab==4.4.4
PyPDF2==3.0.1
docx2txt==0.9
weasyprint==66.0
boto3>=1.28.0
django-storages==1.14.6
