# =======================
# Terraform
# =======================
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# =======================
# Django / Python
# =======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.db
*.sqlite3
*.log
.env
.env.local
local_settings.py
media/
staticfiles/

# =======================
# Docker
# =======================
*.env
.env.*
.dockerignore

# =======================
# IDE / OS
# =======================
.vscode/
.idea/
*.swp
*.bak
*.tmp
.DS_Store

# =======================
# Frontend / Build
# =======================
node_modules/
dist/
build/
